<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wikipedia Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1 style="font-family:dyeline">Forecasted</h1>
   
</div>
 
<div class="container-sm container-md container-lg">
  <div class="row">
    <div class="col-sm-2">
     
     
    </div>
    <div class="col-sm-11">
   <div class="table-responsive">
      <table class="table">
    <thead class="thead thead-dark">
      <tr>
        <th>Page Name</th>
        <th>Client</th>
        <th>Access By</th>
<th>Language</th>
<th>Predicted traffic</th>
<th>Time taken</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{Page}}</td>
        <td>{{Client}}</td>
        <td>{{Access}}</td>
<td>{{Language}}</td>
<td>{{predicted}}</td>
<td>{{time}}</td>
      </tr>
     
    </tbody>
  </table>
   </div>
    </div>
    <div class="col-sm-2">
     
    </div>
  </div>
<div class="row">
<div class="col-sm-4">
     
    </div>
<div class="col-sm-4">
      <a href="https://web-traffic-forecasting.herokuapp.com/" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">BACK</a>
    </div>
<div class="col-sm-4">
     
    </div>

</div>
</div>

</body>
</html>